.App {
  text-align: center;
  background-color: #090909f0;
  height: 100vh;
}

.boardWrapper {
  display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:90vh;
/* width:100vw; */
position:relative;
margin:25px;
padding: 10px;
}
.box{
  background-color:#27282b;
width: 5.1rem;
height: 4.5rem;
margin:5px;
border-radius:20px;
color: #16bdca;
display: flex;
align-items: center;
justify-content: center;
font-weight: 900;
font-size: xx-large;
border:none;
outline:none;
}

.boxWrapper{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,auto);

}